<!-- app/views/movies/_movie.html.erb -->
<div class="movie">
  <h2><%= @movie.title %></h2>
  <p>Rating: <%= @movie.rating %></p>
  <p>Release Date: <%= @movie.release_date %></p>
  <!-- Otros detalles de la película que quieras mostrar -->
</div>
